/* {
    outline: 1px solid red;
}*/
.Top-tap{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;

}

.menu{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.menu a{
    text-decoration: none;
    color: black;
    font-family: Archivo;
}

.menu a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #000000;  /* Replace #yourColor with the color you want the line to be */
    transition: width .4s ease-in-out;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
}

.menu a:hover::after {
    width: 100%;
}

.last-update{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Archivo;
    font-style: italic;
    justify-content: center;
}

.menu a:hover{
    transform: scale(1.1); /* Increase the size to 110% when hovered */
    transition: transform 0.3s ease-in-out; /* Smooth the size change over 0.3 seconds */
}

.portfolio-text{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Archivo;
    font-style: italic;
    justify-content: center;
}

.hl-img-container{
    background-color: #003241;
    display: flex;
    justify-content: center;
}

.hl-img-container img:hover{
    cursor: pointer;
    transform: scale(1.05); /* Increase the size to 110% when hovered */
    transition: transform 0.4s ease-in-out;
}

.ranking-text{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Archivo;
    font-style: italic;
    justify-content: center;
}

.img-rank-container{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #003241,#832F00,#000000);
    justify-content: center;
}

.rank-img-1:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}

.rank-img-2:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 0.4s ease-in-out;
}

.rank-img-3:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}

.about-text{
    color: white;
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Archivo;
    font-style: italic;
    justify-content: center;
}

.about-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-info-text{
    font-family: Archivo;
}

.contact-head{
    color: white;
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Archivo;
    font-style: italic;
    justify-content: center;
}

.social-icons{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.email-container, 
.instagram-container,
.behance-container,
.kakao-container,
.youtube-container
{
    text-align: center;
}

.img-email:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
} 
.img-insta:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
} 
.img-behance:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
} 
.img-kakao:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}
.img-youtube:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}

.Email, .Insta, .Behance, .Kakao, .Youtube{
    text-decoration: none;
    font-family: Archivo;
    font-style: italic;
    color: black;
}

.thanks{
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, #003241,#832F00,#000000);
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Archivo;
    justify-content: center;
}

.last-info-container{
    display: flex;
    justify-content: center;
}

.last-menu{
    display: flex;
}

.help-drops{
    display: grid;
    font-family: Archivo;
    color: black;
}

.a-help{
    font-family: Archivo;
    font-style: italic;
    text-decoration: none;
    color:black;
}

.help-drops a{
    text-decoration: none;
    color: black;
    font-style: italic;
}

.category-tap{
    display: grid;
    font-family: Archivo;
    color: black;
}

.a-catagory{
    font-family: Archivo;
    font-style: italic;
    text-decoration: none;
    color:black;
}

.catagory-drops{
    display: grid;
}

.catagory-drops a{
    text-decoration: none;
    color: black;
    font-style: italic;
}

.follow-me{
    font-family: Archivo;
    color: black;
}

.a-follow{
    font-family: Archivo;
    font-style: italic;
    text-decoration: none;
    color:black;
}

.follow-drops{
    display: grid;
}

.follow-drops a{
    text-decoration: none;
    color: black;
    font-style: italic;
}

.outro-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.tc{
    font-family: Archivo;
    font-style: italic;
    text-decoration: none;
    color: white;
}

.pp{
    display: grid;
    font-family: Archivo;
    font-style: italic;
}

.pp a{
    text-decoration: none;
    color: white;
}

.outro-text-container p{
    font-family: Archivo;
    font-style: italic;
    color: white;
}


/* Extra Small (XS) */
@media screen and (max-width: 576px) {
    /* CSS rules for screens up to 576px wide (e.g., smartphones) */
    body{
        width: 873px;
    }

    .Top-tap{
        width: calc(430px*2);

    }

    .menu{
        width: calc(120px*4);
    }

    .menu a{
        font-weight: 200;
    }

    
    .img-highlight{
        height: auto;
        width: 873px;
    }

    .last-update{
        font-weight: 800;
        font-size: 35px;
        height: 100px;
    }

    .highlight-img{
        height: auto;
        width: 873px;
    }

    .portfolio-text{
        font-weight: 800;
        font-size: 35px;
        height: 100px;
    }

    .hl-img-container{
        gap: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 873px;
    }

    .hl-img-container img{
        width: auto;
        height: 200px;
    }

    .ranking-text{
        font-weight: 800;
        font-size: 35px;
        height: 100px;
    }

    .img-rank-container{
        gap: 40px;
        height: 300px;
        width: 873px;
    }

    .img-rank-container img{
        height: auto;
        width: 200px;
    }

    .about{
        padding-top: 20px;
        padding-left: 40px ;
        padding-right: 40px ;
        height: 440px;
        width: 800px;
    }
    .about-text{
        font-weight: 800;
        font-size: 35px;
        height: 80px;
    }

    .about-info-container{
        padding-top: 20px;
        gap: 30px;
    }

    .about-img{
        width: auto;
        height: 300px;
    }

    .about-info-text{
        font-size: 23px;
        font-weight: 500;  
    }

    .contact{
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        height: 210px;
    }

    .contact-head{
        font-weight: 800;
        font-size: 35px;
        height: 80px;
    }
    .social-icons img{
        height: auto;
        width: 45px;
    }

    .social-icons{
        padding-top: 20px;
        gap: 105px;
        padding-bottom: 20px;

    }

    .email-container, .instagram-container,
    .behance-container, .kakao-container,
    .youtube-container{
        display: grid;
    }

    .Email, .Insta, .Behance, .Kakao, .Youtube{
        font-size: 20px;
        font-weight: 20;
    }

    .thanks{
        font-weight: 600;
        font-size: 35px;
        height: 80px;
    }

    .last-info{
        padding-top: 30px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 30px;
    }

    .last-info-container{
        gap: 80px;
    }

    .last-menu{
        gap: 80px;
    }

    .help-drops{
        padding-top: 15px;
    }

    .a-help{
        font-size: 20px;
    }

    .help-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }
    
    .a-catagory{
        font-size: 20px;
    }

    .catagory-drops{
        padding-top: 15px;
    }

    .catagory-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }

    .a-follow{
        font-size: 20px;
    }

    .follow-drops{
        padding-top: 15px;
    }

    .follow-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }

    .outro-text-container{
        gap: 90px;
        height: 100px;
    }

    .tc{
        font-weight: 80;
    }

    .pp a{
        font-weight: 80;
    }

    .outro-text-container p{
        font-weight: 80;
    }
}
  
  /* Small (SM) */
  @media screen and (min-width: 577px) and (max-width: 767px) {
    /* CSS rules for screens from 577px to 767px wide (e.g., larger smartphones) */

    body{
        width: 873px;
    }
    .Top-tap{
        width: calc(430px*2);

    }

    .menu{
        width: calc(120px*4);
    }

    .menu a{
        font-weight: 200;
    }

    
    .img-highlight{
        height: auto;
        width: 873px;
    }

    .last-update{
        font-weight: 800;
        font-size: 35px;
        height: 100px;
    }

    .highlight-img{
        height: auto;
        width: 873px;
    }

    .portfolio-text{
        font-weight: 800;
        font-size: 35px;
        height: 100px;
    }

    .hl-img-container{
        gap: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 873px;
    }

    .hl-img-container img{
        width: auto;
        height: 250px;
    }

    .ranking-text{
        font-weight: 800;
        font-size: 35px;
        height: 100px;
    }

    .img-rank-container{
        gap: 40px;
        height: 300px;
        width: 873px;
    }

    .img-rank-container img{
        height: auto;
        width: 200px;
    }

    .about{
        padding-top: 20px;
        padding-left: 40px ;
        padding-right: 40px ;
        height: 440px;
        width: 800px;
    }
    .about-text{
        font-weight: 800;
        font-size: 35px;
        height: 80px;
    }

    .about-info-container{
        padding-top: 20px;
        gap: 30px;
    }

    .about-img{
        width: auto;
        height: 300px;
    }

    .about-info-text{
        font-size: 23px;
        font-weight: 500;  
    }

    .contact{
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        height: 210px;
    }

    .contact-head{
        font-weight: 800;
        font-size: 35px;
        height: 80px;
    }
    .social-icons img{
        height: auto;
        width: 45px;
    }

    .social-icons{
        padding-top: 20px;
        gap: 105px;
        padding-bottom: 20px;

    }

    .email-container, .instagram-container,
    .behance-container, .kakao-container,
    .youtube-container{
        display: grid;
    }

    .Email, .Insta, .Behance, .Kakao, .Youtube{
        font-size: 20px;
        font-weight: 20;
    }

    .thanks{
        font-weight: 600;
        font-size: 35px;
        height: 80px;
    }

    .last-info{
        padding-top: 30px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 30px;
    }

    .last-info-container{
        gap: 80px;
    }

    .last-menu{
        gap: 80px;
    }

    .help-drops{
        padding-top: 15px;
    }

    .a-help{
        font-size: 20px;
    }

    .help-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }
    
    .a-catagory{
        font-size: 20px;
    }

    .catagory-drops{
        padding-top: 15px;
    }

    .catagory-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }

    .a-follow{
        font-size: 20px;
    }

    .follow-drops{
        padding-top: 15px;
    }

    .follow-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }

    .outro-text-container{
        gap: 90px;
        height: 100px;
    }

    .tc{
        font-weight: 80;
    }

    .pp a{
        font-weight: 80;
    }

    .outro-text-container p{
        font-weight: 80;
    }
}
  
  /* Medium (MD) */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS rules for screens from 768px to 991px wide (e.g., tablets) */

    .Top-tap{
        width: calc(485px*2);

    }

    .menu{
        width: calc(120px*4);
    }

    .menu a{
        font-weight: 200;
    }

    
    .img-highlight{
        height: auto;
        width: 973px;
    }

    .last-update{
        font-weight: 800;
        font-size: 35px;
        height: 100px;
    }

    .highlight-img{
        height: auto;
        width: 973px;
    }

    .portfolio-text{
        font-weight: 800;
        font-size: 35px;
        height: 100px;
    }

    .hl-img-container{
        gap: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 973px;
    }

    .hl-img-container img{
        width: auto;
        height: 300px;
    }

    .ranking-text{
        font-weight: 800;
        font-size: 35px;
        height: 100px;
    }

    .img-rank-container{
        gap: 40px;
        height: 300px;
        width: 973px;
    }

    .img-rank-container img{
        height: auto;
        width: 200px;
    }

    .about{
        padding-top: 20px;
        padding-left: 40px ;
        padding-right: 40px ;
        height: 440px;
        width: 894px;
    }
    .about-text{
        font-weight: 800;
        font-size: 35px;
        height: 80px;
    }

    .about-info-container{
        padding-top: 20px;
        gap: 30px;
    }

    .about-img{
        width: auto;
        height: 300px;
    }

    .about-info-text{
        font-size: 23px;
        font-weight: 500;  
    }

    .contact{
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        height: 210px;
    }

    .contact-head{
        font-weight: 800;
        font-size: 35px;
        height: 80px;
    }
    .social-icons img{
        height: auto;
        width: 65px;
    }

    .social-icons{
        padding-top: 20px;
        gap: 105px;
        padding-bottom: 20px;

    }

    .email-container, .instagram-container,
    .behance-container, .kakao-container,
    .youtube-container{
        display: grid;
    }

    .Email, .Insta, .Behance, .Kakao, .Youtube{
        font-size: 20px;
        font-weight: 20;
    }

    .thanks{
        font-weight: 600;
        font-size: 35px;
        height: 80px;
    }

    .last-info{
        padding-top: 30px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 30px;
    }

    .last-info-container{
        gap: 80px;
    }

    .last-menu{
        gap: 80px;
    }

    .help-drops{
        padding-top: 15px;
    }

    .a-help{
        font-size: 20px;
    }

    .help-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }
    
    .a-catagory{
        font-size: 20px;
    }

    .catagory-drops{
        padding-top: 15px;
    }

    .catagory-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }

    .a-follow{
        font-size: 20px;
    }

    .follow-drops{
        padding-top: 15px;
    }

    .follow-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }

    .outro-text-container{
        gap: 90px;
        height: 100px;
    }

    .tc{
        font-weight: 80;
    }

    .pp a{
        font-weight: 80;
    }

    .outro-text-container p{
        font-weight: 80;
    }
}
  
  /* Large (LG) */
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    /* CSS rules for screens from 992px to 1199px wide (e.g., larger tablets and small desktops) */

    body{
        width: 1400px;
    }

    .Top-tap{
        width: calc(680px*2);

    }

    .menu{
        width: calc(120px*4);
    }

    .menu a{
        font-weight: 200;
    }

    
    .img-highlight{
        height: auto;
        width: 1383px;
    }

    .last-update{
        font-weight: 800;
        font-size: 55px;
        height: 100px;
    }

    .highlight-img{
        height: auto;
        width: 1383px;
    }

    .portfolio-text{
        font-weight: 800;
        font-size: 55px;
        height: 100px;
    }

    .hl-img-container{
        gap: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .hl-img-container img{
        width: 300px;
        height: auto;
    }

    .ranking-text{
        font-weight: 800;
        font-size: 55px;
        height: 100px;
    }

    .img-rank-container{
        gap: 40px;
        height: 500px;
    }

    .about{
        padding-top: 40px;
        padding-left: 40px ;
        padding-right: 40px ;
        height: 700px;
    }
    .about-text{
        font-weight: 800;
        font-size: 55px;
        height: 100px;
    }

    .about-info-container{
        padding-top: 40px;
        gap: 30px;
    }

    .about-img{
        width: auto;
        height: 500px;
    }

    .about-info-text{
        font-size: 37px;
        font-weight: 500;  
    }

    .contact{
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .contact-head{
        font-weight: 800;
        font-size: 55px;
        height: 100px;
    }
    .social-icons img{
        height: auto;
        width: 130px;
    }

    .social-icons{
        padding-top: 40px;
        gap: 163px;
        padding-bottom: 40px;

    }

    .Email, .Insta, .Behance, .Kakao, .Youtube{
        font-size: 30px;
        font-weight: 20;
    }

    .thanks{
        font-weight: 600;
        font-size: 55px;
        height: 100px;
    }

    .last-info{
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 40px;
    }

    .last-info-container{
        gap: 180px;
    }

    .last-menu{
        gap: 180px;
    }

    .help-drops{
        padding-top: 15px;
    }

    .a-help{
        font-size: 20px;
    }

    .help-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }
    
    .a-catagory{
        font-size: 20px;
    }

    .catagory-drops{
        padding-top: 15px;
    }

    .catagory-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }

    .a-follow{
        font-size: 20px;
    }

    .follow-drops{
        padding-top: 15px;
    }

    .follow-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }

    .outro-text-container{
        gap: 90px;
        height: 100px;
    }

    .tc{
        font-weight: 80;
    }

    .pp a{
        font-weight: 80;
    }

    .outro-text-container p{
        font-weight: 80;
    }
}
  
@media screen and (min-width: 1200px) {
    /*For ultra wide screen*/
    /*{
        outline: 1px solid red;
    }*/

    body{
        width: 1380px;
    }
    .Top-tap{
        width: calc(680px*2);

    }

    .menu{
        width: calc(120px*4);
    }

    .menu a{
        font-weight: 200;
    }

    
    .img-highlight{
        height: auto;
        width: 1383px;
    }

    .last-update{
        font-weight: 800;
        font-size: 55px;
        height: 100px;
    }

    .highlight-img{
        height: auto;
        width: 1383px;
    }

    .portfolio-text{
        font-weight: 800;
        font-size: 55px;
        height: 100px;
    }

    .hl-img-container{
        gap: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .hl-img-container img{
        height: auto;
        width: 320px;
    }

    .ranking-text{
        font-weight: 800;
        font-size: 55px;
        height: 100px;
    }

    .img-rank-container{
        gap: 40px;
        height: 500px;
    }

    .about{
        padding-top: 40px;
        padding-left: 40px ;
        padding-right: 40px ;
        height: 700px;
    }
    .about-text{
        font-weight: 800;
        font-size: 55px;
        height: 100px;
    }

    .about-info-container{
        padding-top: 40px;
        gap: 30px;
    }

    .about-img{
        width: auto;
        height: 500px;
    }

    .about-info-text{
        font-size: 37px;
        font-weight: 500;  
    }

    .contact{
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .contact-head{
        font-weight: 800;
        font-size: 55px;
        height: 100px;
    }
    .social-icons img{
        height: auto;
        width: 130px;
    }

    .social-icons{
        padding-top: 40px;
        gap: 163px;
        padding-bottom: 40px;

    }

    .Email, .Insta, .Behance, .Kakao, .Youtube{
        font-size: 30px;
        font-weight: 20;
    }

    .thanks{
        font-weight: 600;
        font-size: 55px;
        height: 100px;
    }

    .last-info{
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 40px;
    }

    .last-info-container{
        gap: 180px;
    }

    .last-menu{
        gap: 180px;
    }

    .help-drops{
        padding-top: 15px;
    }

    .a-help{
        font-size: 20px;
    }

    .help-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }
    
    .a-catagory{
        font-size: 20px;
    }

    .catagory-drops{
        padding-top: 15px;
    }

    .catagory-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }

    .a-follow{
        font-size: 20px;
    }

    .follow-drops{
        padding-top: 15px;
    }

    .follow-drops a{
        padding-bottom: 10px;
        font-weight: 200;
    }

    .outro-text-container{
        gap: 90px;
        height: 100px;
    }

    .tc{
        font-weight: 80;
    }

    .pp a{
        font-weight: 80;
    }

    .outro-text-container p{
        font-weight: 80;
    }
  }
